
html {
    font-size: 62.5%;
}

body {
    background-color: #f5f5f5; 
    font-family: 'Open Sans', sans-serif;
}

.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    display: block;
    padding: 0;
    margin: 0 auto;
    width: 98%;
    max-width: 1198px;
}

header {
    background: #fff;
    display: block;
    float: left;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #254159;
}

h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-top: 20px;
    margin-bottom: 40px;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

#tenho-interesse {
    background-color: #fff;
    width: 100%;
}

#tenho-interesse form,
.cognito.c-med .c-forms-form,
.cognito.c-med .c-forms-form div {
    background-color: #b8c8d6 !important;
}

#tenho-interesse .cognito .c-forms-form .c-forms-form-title h2,
#tenho-interesse .cognito label[for], .cognito input[type=radio], .cognito input[type=checkbox] {
    color: #385874;
}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
}

section {
    background-color: #fff;
    display: block;
    float: left;
    font-size: 1.5rem; /* equivalente a 15px */ 
    padding: 20px 0;
    width: 100%;
}

section nav {
    display: block;
    float: left;
    width: 30%;
}

nav li {
    background-color: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;
}

nav li:hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}

section article {
    display: block;
    float: left;
    width: 70%;
}

footer {
    background-color: #254159;  
    display: block;
    float: left;
    padding: 20px 0;
    width: 99.9%;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 350px !important;
    overflow: hidden !important;
}

@media (max-width: 425px) {
    section nav,
    section article {
        width: 100%;
    }  

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}

#banner {
    background-image: url('../images/banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.legenda-container {
    width: 30vw;
    float: right;
    margin: 40px 0 0 0;
}


.legenda {
    background-color: rgba(255, 255, 255, .6);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5rem;
}

.legenda h5,
.legenda h4 {
    color: #254159;
    line-height: 150%;
}

.button-cta {
    border-radius: 25px;
    display: inline-block;
    background-color: orangered;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px #454545 ;
    padding: 10px 15px;
    width: auto;
    text-decoration: none;
    font-weight: 300;
    margin: 20px auto;
}


#saiba-mais {
    background-color: #eaeff3;
    padding: 40px 0;
}

#saiba-mais p,
#saiba-mais img {
    width: 45%;
    display: block;
    float: left;
    padding: 20px;
}

#perguntas-frequentes {
    background-color: #b8c8d6;
    padding-top: 40px;
    padding-bottom: 40px;
}

dl {
    margin: 20px 0 ;
}
dt {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1.6rem;
    color: #254159;
    margin-bottom: 5px;
}

dd {
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.4rem;
}