
  *{

    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;

}

body {
    height: 100vh; /*definindo altura 100% usando vh*/
    background-color: #efefef;
    overflow: overlay;
}

h1, h2, p {
    margin-bottom: 20px;
}

div {
    padding:  20px 0;
    margin: 0;
}

.width-100{
    width: 100%;
    width: 100vw; /* viewport width*/
    background-color: aqua;
    padding: 50px;
    height: 400px;  /*height: 100vh;*/
   
}


nav {
    background-color: gray;
    width: 20%;
    float: left;
    display: table;
    height: 100%;
}

article {
    background-color: ivory;
    width: 80%;
    float: left;
    height: 100%;
    box-sizing: border-box; /*considera o padding e border na largura e altura*/ 
   
}

.fixed-width {
    background-color: lawngreen;
    width: 200px;
    margin: 40px auto;
    text-align: center;
}


.backgroud {
    background-color: lightcoral;
    background-image: url(../imagens/pattern.png);
    background-repeat: repeat-y;   /*imagem fica vertical*/  
    background-repeat: repeat-x;   /*imagem fica na horizontal*/
    width: 100%;
    height: 50vh;

}

div img {
    width: 100%;
}